*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fafaf0;
  /*background-image: linear-gradient(to bottom, #fafaf0, #c9b69f,#d4b48e, #b5946b, #705c43, #634623, #5e3809);*/
  opacity: 75%;
  font-family: Arial, Helvetica, sans-serif;
}

#map {
  text-align: center;
  width: 65%;
  height: 500px;
  margin: 0 auto; 
}
.top{
  background-image: linear-gradient(to left,#518ac4,#8abef2, #c5ffab,#9ae356, #3aab05);
  background-color: #c5ffab;
  width: 80%; 
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px #b1b3b1;
  margin: 20px auto;
  /* overflow: hidden; */
  justify-content: center;
}
.header {
  color: #6e5330;
  padding-left: 20px;
  font-size: calc(1.5vw + 1.5vh);
  display: inline-block;
}
 /* .header:hover{
  cursor: pointer;
} */
a:link{
  text-decoration: none;
  color: #6e5330;
} 
a:visited{
  text-decoration: none;
  color: #6e5330;
}
a:hover{
  cursor: pointer;
  text-decoration: none;
  color: #6e5330;
}
a:active{
  text-decoration: none;
  color: #6e5330;
}
nav {
  list-style-type: none;
  color: #6e5330;
  float: right;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  /* padding-top: 13px;
  padding-bottom: 13px; */
}
.tabs {
  list-style-type: none;
  margin: 0;
 
}

.tabs li {
  display: inline-block;
 padding: 10px 20px;
 font-size: calc(1.5vw+1.5vh);
}

/* .tabs li a {
  text-decoration: none;
  padding: 10px 15px; 
  display: inline-block;
  
} */
.tabs li:hover{
  background-color: #4e6b6e;
  color: #54360f;
  opacity: 0.8;
  cursor: pointer;
  transition: background-color 0.7s;
  border-radius: 50px;
}

.leaflet-popup {
  background: transparent !important; 
  border: none !important; 
  box-shadow: none !important; 
}

.popup-content {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 14px; 
  color: #333; 
  width: 200px; 
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
  padding: 10px; 
}

.popup-content h3 {
  margin: 0; 
  font-size: 16px; 
  color: #007BFF; 
}

.popup-content p {
  margin: 5px 0; 
}

.leaflet-popup-content {
  background: none !important; 
  padding: 0; 
  margin: 0; 
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  text-align: center;
}

.button-container{
  display: flex;
  padding-left: 25px;
  margin: 20px 0;
  justify-content: center;
}


.restroom {
  background-color: #3aab05; 
  border: none;
  color: white; 
  padding: 10px 20px; 
  font-size: 16px; 
  margin: 0 10px; 
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s; 
  font-family: Arial, Helvetica, sans-serif;
}
.trash-can{
  background-color: #3aab05; 
  border: none;
  color: white; 
  padding: 10px 20px; 
  font-size: 16px; 
  margin: 0 10px; 
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s; 
  font-family: Arial, Helvetica, sans-serif;
}

.restroom:hover {
  padding: 15px 22px; 
  background-color: #ec711f; 
}

.trash-can:hover {
  padding: 15px 22px; 
  background-color: #ec711f; 
}

.restroom:active{
  background-color: #f58439;

}

.trash-can:active{
  background-color: #f58439;

}
img{

  margin-top: 5%;
  height: 350px;
}
.img-container{
  display: flex;
  justify-content: center;
}